<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hybrid Movie Recommendation System</title>
    <link rel="stylesheet" href="styles2.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="column_alignment" style="align-items: center">
    <div class="main_content_wrapper column_alignment">
        <form name="movie_form" class="row_alignment" action="searchResult.html"
              style="align-self: center; margin-top: 60px">
            <img src="../images/popcorn.png" style="max-width: 90px; height: auto; object-fit: contain">
            <input class="input_button" type="text" required id="movie_name_input_field"
                   placeholder="Search for a Similar Movie Recommendation" name="movie_title">
            <button class="search_button" type="submit">LET'S GO</button>
        </form>
        <div class="row_alignment" style="margin-top: 40px">
            <div class="column_alignment">
                <img src="../images/userBasedImage.png"
                     style="width: 100%; margin-bottom: 20px; max-height: 70px; object-fit: contain">
                <div id="userBasedData" class="column_alignment" style="align-self: center"></div>
            </div>

            <div class="column_alignment">
                <img src="../images/itemBasedImage.png"
                     style="width: 100%; margin-bottom: 20px; max-height: 70px; object-fit: contain">
                <div id="itemBasedData" class="column_alignment" style="align-self: center"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function get_movies() {
        const params = new URLSearchParams(location.search);
        const movie_title = params.get("movie_title");
        document.getElementById("movie_name_input_field").value = movie_title;
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let dataElement = document.getElementById("userBasedData");

                let ub_movies_list = JSON.parse(this.responseText)["en_ub_rec_movies"];
                let hi_ub_movies_list = JSON.parse(this.responseText)["hi_ub_rec_movies"];
                ub_movies_list = ub_movies_list.concat(hi_ub_movies_list);

                for (let j = 0; j < ub_movies_list.length; j++) {
                    let mEl = document.createElement("a");
                    mEl.href = "movie_detail_page.html";
                    mEl.classList.add("search_results");
                    mEl.innerText = ub_movies_list[j];
                    dataElement.appendChild(mEl);
                }

                let dataElement1 = document.getElementById("itemBasedData");
                let ib_movies_list = JSON.parse(this.responseText)["en_ib_rec_movies"];
                let hi_ib_movies_list = JSON.parse(this.responseText)["hi_ib_rec_movies"];
                ib_movies_list = ib_movies_list.concat(hi_ib_movies_list);

                for (let i = 0; i < ib_movies_list.length; i++) {
                    let mEl = document.createElement("a");
                    mEl.href = "movie_detail_page.html";
                    mEl.classList.add("search_results");
                    mEl.innerText = ib_movies_list[i];
                    dataElement1.appendChild(mEl);
                }
            }
        };

        xhttp.open("POST", "http://localhost:8000/movie-api", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send('{"movie_title": "' + movie_title + '"}');
    }

    get_movies();
</script>


</body>
</html>


